CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_redmi-router-ac2100=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_PACKAGE_mt_wifi=y
CONFIG_MTK_CHIP_MT7603E_MT7615E=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-parentcontrol=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-adblock=y
# CONFIG_TARGET_ramips_mt7620_DEVICE_ravpower_wd03 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sanlinking_d240 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sercomm_na930 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c2-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20i is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c50-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-mr200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re200-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re210-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_vonets_var11n-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrtnode_wrtnode is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-r3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_yukai_bocco is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-ape522ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-cpe102 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wa05 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-5g-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-h-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we2026 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wr8305rt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zte_q7 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni-ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-viva is not set
# CONFIG_TARGET_ramips_mt7620_Default is not set
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_vsftpd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_vsftpd-tls is not set
